header
  width 100%
  height 70px
  .header_top
    width 100%
    height 40px
    background-color white
    line-height 40px
    text-align center
    box-sizing border-box
    border-bottom 1px solid #d9d9d9
    .iconfont
      font-size 23px
      color black
      float right
    .icon1
      float left
      margin-left 10px
    .icon2
      margin-right 10px
    .icon3
      margin-right 15px
    .text1
      font-size 17px
      color #b4282d
      font-weight bold
      margin-left 30px
    .text2
      font-size 12px
      margin-left 10px
      color #7f7f7f
  .header_bottom2
    width 100%
    height 30px
    background-color white
    box-sizing border-box
    border-bottom 1px solid #d9d9d9
    overflow hidden
    ul
      height 30px
      width  200%
      li
        height 26px
        line-height 26px
        color #7f7f7f
        font-size 13px
        float left
        margin 0 15px
        padding 1px
      .active
        color red
        border-bottom  1px solid red
        z-index 10
.bigImg
  width 100%
  height 190px
  background-color white
  margin-top 10px
  display flex
  justify-content center
  align-items center
  img
    width 90%
.topic_content_one
  box-sizing border-box
  width 100%
  margin-top 10px
  padding 15px
  padding-top 17px
  background-color #ffffff
  .content_one_top
    width 100%
    display flex
    align-items center
    img
      display block
      width 25px
      border-radius 50%
      margin-left 5px
    span
      font-size 13px
      margin-left 10px
  p
    font-size 15px
    margin-top 10px
  img
    width 100%
    margin-top 10px
    border-radius 5px
  .content_one_bottom
    margin-top 10px
    display flex
    align-items center
    span
      font-size 6px
      color #999999
    .iconfont
      font-size 13px
      margin-right 3px
.topic_content_two
  width 100%
  background-color white
  margin-top 10px
  box-sizing border-box
  padding 10px
  overflow hidden
  .content_two_left
    width 57%
    float left
    div
      display flex
      align-items center
      img
        width 25px
        border-radius 50%
        margin-left 5px
      span
        font-size 13px
        margin-left 10px
    .text1
      margin-top 10px
      margin-left 5px
      font-size 15px
    .text2
      margin-top 8px
      margin-left 5px
      font-size 12px
      color #7f7f7f
    .two_left_bottom
      margin-top 10px
      display flex
      align-items center
      .iconfont
        font-size 14px
      span
        font-size 6px
  .content_two_right
    width 38%
    float right
    img
      display block
      margin 0 auto
      border-radius 5px
      width 95%
.aaa
  width 100%
  height 50px



