.home_content_bottom
  width 100%
  height 300px
  .content_bottom_top
    width 100%
    height 35px
    display flex
    justify-content center
    align-items center
    span
      font-size 14px
      margin-left 10px
      display inline-block
    .ledgement
      width 10px
      height 2px
      background-color black
  .content_bottom
    width 100%
    display flex
    justify-content center
    .content_bottom_left
      width 46%
      height 185px
      background-color #F9E9CF
      position relative
      p
        font-size 14px
        position absolute
        top 10%
        left 7%
      img
        width 80%
        position absolute
        left 10%
        bottom 12%
    .content_bottom_right
      margin-left 1px
      width 46%
      height 185px
      .right_top
        width 100%
        height 50%
        background-color #F9E9CF
        position relative
        p
          font-size 14px
          position absolute
          left 10%
          top 10%
        .text2
          font-size 8px
          color #7e8c8d
          position absolute
          left 10%
          top 28%
        img
          width 60%
          position absolute
          right 2%
          bottom 4%
      .right_bottom
        margin-top 1%
        width 100%
        height 49%
        background-color #F9E9CF
        position relative
        p
          font-size 13px
          position absolute
          left 10%
          top 10%
        div
          display inline-block
          background-color #CBB693
          font-size 10px
          color white
          position absolute
          left 10%
          top 28%
        img
          width 70%
          position absolute
          right -3%
          bottom -5%