.header
  width 100%
  background-color white
  .header_top
    width 100%
    height 35px
    display flex
    justify-content space-around
    align-items center
    .header_title
      margin-left 5px
      font-size 15px
      font-weight bold
    .header_input
      width 200px
      height 25px
      background-color #ededed
      border-radius 5px
      display flex
      justify-content center
      align-items center
      span
        font-size 15px
        margin-right 5px
      p
        font-size 12px
        color #666
    .header_btn
      width 25px
      height 15px
      line-height 15px
      border 1px solid #b4282d
      color #b4282d
      padding 3px
      font-size 12px
      border-radius 4px
      margin-right 8px
  .header_bottom
    width 80%
    height 20px
    margin-top 5px
    margin-left 15px
    position relative
    overflow hidden
    .header_ul
      margin-left 15px
      width 230%
      display flex
      .header_list
        margin-right 19px
        font-size 12px
        padding-bottom 7px
        &.active
          color #b4282d
          border-bottom 2px solid red
  .header_arrows
    width 10%
    height 20px
    float right
    transform translateY(-20px)