.home_content
  width 100%
  overflow hidden
  .home_content_top
    width 33.33%
    height 25px
    float left
    display flex
    justify-content center
    align-items center
    span
      font-size 11px
      color red
    p
      font-size 11px
      margin-left 2px
      color #333
  .home_content_centre
    width 100%
    height 160px
    margin-top 20px
    ul
      width 100%
      height 160px
      li
        width 20%
        height 70px
        display flex
        flex-direction column
        justify-content center
        align-items center
        float left
        img
          width 50px
          height 50px
        span
          font-size 10px
          color #333
          margin-top 4px
  .home_content_bottom
    width 100%
    height 12px
    margin-top -12px
    background-color #ccc






